<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	
	<listener>
		<listener-class>com.chong.listener.AutoRunListener</listener-class>
	</listener>
	
	<filter>
  <filter-name>setCharacterEncoding</filter-name>
  <filter-class>com.chong.common.util.EncodingFilter</filter-class>
  <init-param>
     <param-name>encoding</param-name>
     <param-value>UTF-8</param-value>
  </init-param>
</filter>

<filter-mapping>
	<filter-name>setCharacterEncoding</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>


	<servlet>
		<servlet-name>ResourceTypeServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceTypeServlet</servlet-name>
		<url-pattern>/ResourceTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceTypeServlet</servlet-name>
		<url-pattern>/ResourceTypeServlet/m/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResourceTypeAjaxServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceTypeAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceTypeAjaxServlet</servlet-name>
		<url-pattern>/ResourceTypeAjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceTypeAjaxServlet</servlet-name>
		<url-pattern>/ResourceTypeAjaxServlet/m/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ResourceAjaxServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceAjaxServlet</servlet-name>
		<url-pattern>/ResourceAjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceAjaxServlet</servlet-name>
		<url-pattern>/ResourceAjaxServlet/m/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/ResourceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/ResourceServlet/m/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TgAjaxServlet</servlet-name>
		<servlet-class>com.chong.servlet.TgAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TgAjaxServlet</servlet-name>
		<url-pattern>/TgAjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TgAjaxServlet</servlet-name>
		<url-pattern>/TgAjaxServlet/m/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>TgServlet</servlet-name>
		<servlet-class>com.chong.servlet.TgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TgServlet</servlet-name>
		<url-pattern>/TgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TgServlet</servlet-name>
		<url-pattern>/TgServlet/m/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ResourceTgAjaxServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceTgAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceTgAjaxServlet</servlet-name>
		<url-pattern>/ResourceTgAjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceTgAjaxServlet</servlet-name>
		<url-pattern>/ResourceTgAjaxServlet/m/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ResourceTgServlet</servlet-name>
		<servlet-class>com.chong.servlet.ResourceTgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceTgServlet</servlet-name>
		<url-pattern>/ResourceTgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceTgServlet</servlet-name>
		<url-pattern>/ResourceTgServlet/m/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.chong.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet/m/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>CategoryAjaxServlet</servlet-name>
		<servlet-class>com.chong.servlet.CategoryAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryAjaxServlet</servlet-name>
		<url-pattern>/CategoryAjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryAjaxServlet</servlet-name>
		<url-pattern>/CategoryAjaxServlet/m/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>

	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>queryTgResourceMain.jsp</welcome-file>
	</welcome-file-list>
</web-app>